
        {{#if login}}
        <div class="row">
          <div class="col-md-5">
        <h2 class="my-4">Active projects
        {{!-- <small>Secondary Text</small> --}}
        </h2>
      </div>
      <div class="col-md-2">
        <div class="my-3">
  {{!-- <a href="/addproject" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm">+Add Project</a> --}}
</div>
      </div>
      </div>

      {{!-- <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/addproject"></form>
      <div class="modal-body mx-3">
        <div class="md-form mb-2">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form3" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form3">Project Name</label>
        </div>

        <div class="md-form mb-2">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form2" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form2">Project description</label>
        </div>

        <div class="md-form mb-2">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form3" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form3">Goal</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-indigo" type="submit">Add <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>

    </div>
  </div>
  </form>
  </div> --}}
</div>



      {{#each projectData}}
      <div class="row">
        
        <div class="col-md-3">
          <a href="#">
            {{!-- <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt=""> --}}
            <h3>Project {{this.projectName}}</h3>
          </a>
          
        </div>
        <div class="col-md-5">
          {{!-- <h3>Project One</h3> --}}
          {{!-- <p>Goal: {{projectData[6]}}</p>
          <p>Reached:{{projectData[5]}}</p>
          <p>Description: {{projectData[2]}}</p> --}}
          <a class="btn btn-primary" href="#">Donate</a>
          {{!-- <a class="btn btn-primary" href="#">View Project</a> --}}
        </div>
        <div class="col-md-7">
            
        </div>
      </div>
      {{/each}}


      <hr>
        {{else}}
        <h1>Please login to continue</h1>
        {{/if}}